@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Space+Grotesk:wght@300..700&display=swap');
:root {
    --horizons-bg: #F6EFE1;
    --horizons-orange: #FFA936;
    --horizons-pink: #F86E95;
    --horizons-blue: #46467C;
}
body {
    background-color: #F6EFE1 ;
}
#nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    height: 30px;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 20px;
    margin: 20px auto;
    justify-content: space-between;
    gap: 60px;
}
#nav-links {
    display: flex;
    gap: 40px;
}
#nav-links a {
    text-decoration: none;
    font-family: 'Space Grotesk';
    font-weight: 800;
}
#nav-title {
    text-decoration: underline wavy;
    font-family: 'Space Grotesk';
    font-weight: 800;
    text-underline-offset: 5px;
}
#hero-main{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-left: 20vw;
}
#hero-title {
    font-family: 'Bricolage Grotesque';
    font-weight: bolder;
    font-size: 70px;
    color: var(--horizons-blue);
}