@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    color-scheme: light dark;
    --white-black: light-dark(white, black);
    --black-white: light-dark(black, white);
}

* {
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
    overscroll-behavior: none;
    min-height: 100vh;
    margin: 0;
    font-family: 'Bricolage Grotesque', sans-serif;
}

/* nav */
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 15px 25px;
    backdrop-filter: blur(1px);
    transition: all 0.8s ease;
    z-index: 1000;
}

#nav.scrolled{
    top: 10px;
    border-radius: 50px;
    width: calc(100% - 40px);
    padding: 15px 25px;
    box-shadow: 0 5px 10px var(--black-white);
    margin: 0 auto;
}

#nav.scrolled #nav-title{
    font-size: 1.1rem;
}

#nav-links{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#nav-links a{
    text-decoration: none;
    color: var(--black-white);
}

#nav-title{
    text-decoration: none;
    color: var(--black-white);
    font-weight: 600;
    font-size: 1.05rem;
}

#hero{
    min-height: 40vh;
    display: flex;
    align-items: center;
    padding: 20px 5vw;
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#membersGrid {
    display: grid;
    margin: 0;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(325px, 1fr));
}

.membercard {
    border: 2px solid var(--black-white);
    width: 300px;
    height: fit-content;
    padding: 40px 70px;
    border-radius: 20px;
}

.memberimg {
    border-radius: 100%;
    height: 128px;
    width: 128px;
    object-fit: cover;
}