@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    color-scheme: light dark;
    --white-black: light-dark(white, black);
    --black-white: light-dark(black, white);
}

* {
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
    overscroll-behavior: none;
    min-height: 100vh;
    margin: 0;
    font-family: 'Bricolage Grotesque', sans-serif;
}

/* nav */
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 15px 25px;
    backdrop-filter: blur(1px);
    transition: all 0.8s ease;
    z-index: 1000;
}

#nav.scrolled{
    top: 10px;
    border-radius: 50px;
    width: calc(100% - 40px);
    padding: 15px 25px;
    box-shadow: 0 5px 10px var(--black-white);
    margin: 0 auto;
}

#nav.scrolled #nav-title{
    font-size: 1.1rem;
}

#nav-links{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#nav-links a{
    text-decoration: none;
    color: var(--black-white);
}

#nav-title{
    text-decoration: none;
    color: var(--black-white);
    font-weight: 600;
    font-size: 1.05rem;
}

/* scrolling announcement bar */

#announce-bar {
    width: 100vw;
    height: fit-content;
    padding: 5px;
    animation-play-state: running;
    overflow: hidden;
}

#a-bar-track {
    display: inline-block;
    will-change: transform;
    white-space: nowrap;
    padding-left: 100%;
    animation-play-state: running;
    animation: scroll 40s linear infinite;
}

.announce-bar-item {
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 0px;
    font-size: 20px;
}

#a-bar-track:hover {
    animation-play-state: paused;
}
@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* landing page */
#hero{
    min-height: 40vh;
    display: flex;
    align-items: center;
    padding: 20px 5vw;
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* announcement section */
#announcements{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 40px 5vw;
}

.announcement-heading{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.announcement-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.announcement-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cardtitle, .carddesc, .carddate, .cardtime{
    margin: 0;
}

.cardinfo {
    border-top: 1px solid var(--black-white);
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-top: 20px;
    justify-content: space-between;
}

/*.carddate{
    border-top: 1px solid var(--black-white);
    padding-top: 20px;
}*/

.announcement-heading p, .announcement-heading h2{
    margin: 0;
}

/* events section */
#events{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 40px 5vw;
}

.events-heading{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.events-heading h2, .events-heading p{
    margin: 0;
}

.events-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.eventimg {
    width: 60%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.eventdata{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.event-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* projects section */
#projects{
    padding: 80px 5vw;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.projects-heading{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projects-heading h2{
    margin: 0;
}

.project-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-tags{
    display: flex;
    flex-direction: row;
    gap: 12px;
    font-size: 0.9rem;
}

.project-title{
    margin: 0;
    font-size: 1.3rem;
}

.project-tags p{
    margin: 0;
    border: 1px solid var(--black-white);
    border-radius: 20px;
    padding: 5px 10px;
}

.projectdesc{
    margin: 0;
    padding-top: 20px;
}

.project-card, .announcement-card, .event-card{
    border: 1px solid var(--black-white);
    border-radius: 20px;
    padding: 20px;
    transition: all 0.3s;
}

.project-card:hover, .announcement-card:hover, .event-card:hover{
    transform: translateY(-5px);
    box-shadow: 10px 10px 4px rgb(82, 82, 82);
}

/* footer */
#footer{
    margin-top: 70px;
    padding:  25px 0 15px;
    border-top: 1px solid var(--black-white);
}

.footer-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 30px;
}

.footerhead{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footerhead p{
    margin: 0;
}

#footerTitle{
    text-decoration: none;
    color: var(--black-white);
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 700;
}

#homeLink{
    text-decoration: none;
    color: var(--black-white);
}

.quick-links{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#linkTitle{
    margin: 0;
    font-size: 1.2rem;
    font-family: inherit;
    font-weight: 600;
}

#quickLinks{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 6px;
}

#quickLinks a{
    text-decoration: none;
    color: var(--black-white);
}

.footerbottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid --black-white;
    padding: 6px 30px 0;
}