@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Space+Grotesk:wght@300..700&display=swap');

* {
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
    overscroll-behavior: none;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(90deg, rgb(119, 119, 119), #c0c0c0, rgb(119, 119, 119));
}

#mainWrapper{
    padding: 0 20px;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 15px 5px;
    backdrop-filter: blur(1px);
    transition: all 0.5s ease;
    z-index: 1000;
}

#nav.scrolled{
    top: 15px;
    width: calc(100% - 40px);
    margin: 0 auto;
    border-radius: 50px;
    padding: 12px 24px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.5);
}

#nav-title{
    color: black;
    text-decoration: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
}

#nav-links{
    display: flex;
    gap: 20px;
}

#nav-links a{
    position: relative;
    text-decoration: none;
    color: black;
    outline: none;
    font-weight: bold;
    padding-bottom: 4px;
}

#nav-links a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #000000, #a4a3a3);   
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s ease;
}

#nav-links a:hover, #nav-links a.active{
    color: black;
}

#nav-links a:hover::after, #nav-links a.active::after{
    transform: scaleX(1);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    padding: 40px 20px;
}

#herotitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#herotitle h1{
    font-size: 3.5rem;
    font-weight: 600;
    margin: 0;
    letter-spacing: -3px;
}

#herotitle p{
    font-size: 1.3rem;
    color: #000000;
    margin: 0;
}

#herotitle a{
    text-decoration: none;
    background-color: black;
    color: #ffffff;
    margin-top: 50px;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 50px;
    padding: 10px 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#herotitle a:hover{
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.25);
}

#about{
    padding: 80px 0;
    margin: 0 auto;
}

#about-header{
    text-align: center;
    margin-bottom: 60px;
}

#factCards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
}

.statcard{
    background-color: #646363;
    border: 1px solid black;
    border-radius: 20px;
    padding: 40px 20px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 0px;
    transition: transform 0.2s ease, box-shadow 0.4s ease;
}

.statcard:hover{
    transform: translateY(-4px);
    box-shadow: 6px 8px 15px rgba(0,0,0,0.6);
}

.statnum{
    font-size: 3rem;
    color: white;
    margin: 0;
    font-weight: 500;
}

.statdesc{
    font-size: 1.4rem;
    color: white;
    margin: 0;
}

#members{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

#teamTitle{
    padding-bottom: 15px;
}

.membercard{
    display: flex;
    flex-direction: column;
    background: rgb(112, 112, 112);
    color: white;
    border-radius: 16px;
    transition: transform 0.3s ease;
    box-shadow: 5px 5px 8px #000000;
}

.membercard:hover{
    transform: translateY(-4px);
}

.membername{
    padding-left: 15px;
    padding-right: 15px;
}

.role{
    padding-left: 15px;
    padding-right: 15px;
}

.memberdesc{
    padding-left: 15px;
    padding-right: 15px;
}

#event-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.event-card{
    display: flex;
    flex-direction: column;
}

#contact{
    margin-top: 100px;
    padding: 40px;
    border-radius: 30px;
    border: 1px solid rgb(87, 87, 87);
    backdrop-filter: blur(100px);
    background-color: #a2a2a2;
    box-shadow: 0 13px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}

#contact:hover{
    transform: translateY(-5px);
}

.contact-info{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact-label{
    font-size: 1.2rem;
    font-weight: 600;
}

.contact-detail a{
    text-decoration: none;
    color: #212121;
    transition: transform 0.4s ease;
}

.contact-detail a:hover{
    transform: translateY(2px);
}

.contact-detail{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-detail p{
    margin: 0;
}

.contactleft{
    padding-bottom: 35px;
}

.social-links{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.social-links a{
    text-decoration: none;
    color: #000000;
}

.contact-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
}

#contactForm{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 30px 20px;
    border: 2px solid rgb(125, 125, 125);
    transition: box-shadow 0.5s ease, border 0.5s ease;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(40px);
    box-shadow: 0 5px 30px rgba(0,0,0,0.1);
}

#contactForm:hover{
    box-shadow: 0 0 20px 5px #2ba4d0be;
    border: 2px solid #20b3e8;
}

.form-field input{
    border-radius: 12px;
    padding: 10px;
    border: 1.3px solid rgb(125, 125, 125);
    box-shadow: inset 4px 4px 10px 0 rgba(0,0,0,0.5), inset -4px -4px 10px 0 rgba(255,255,255,0.5);
    transition: all 0.3s ease;
    font-family: inherit;
    font-size: 1rem;
}

.form-field textarea{
    border-radius: 10px;
    padding: 14px;
    box-shadow: inset 6px 6px 10px 0 rgba(0,0,0,0.5), inset -6px -6px 10px 0 rgba(255,255,255,0.5);
    transition: all 0.3s ease;
    font-family: inherit;
    font-size: 1rem;
}

.form-field textarea:focus, .form-field input:focus{
    outline: none;
    border: 1.3px solid #20b3e8;
    background-color: rgb(255, 249, 249);
    color: rgb(22, 22, 22);
    transform: scaleX(1.01);
    box-shadow: 0 0 20px 1px #2ba4d0be;
}

#formtitle{
    font-size: 1.5rem;
}

.contact-links{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-field{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 20px;
}

#contactForm button{
    padding: 15px 0;
    border-radius: 16px;
    border: 1px solid black;
    box-shadow: 5px 7px 16px rgba(15,3,0,0.5), inset 2px 5px 6px rgba(155, 155, 155, 0.9), inset -3px -5px 9px rgba(15,3,0,0.5);
    text-align: center;
    justify-content: center;
    background-color: #868686;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    font-family: inherit;
    transition: box-shadow 0.4s ease, transform 0.4s ease;
}

#contactForm button:active{
    box-shadow: inset 8px 8px 10px rgba(29, 29, 29, 0.45), 20px 20px 30px rgba(0,0,0,0.2);
    transform: translateY(4px);
}

#footer{
    margin-top: 70px;
    padding:  25px 0 15px;
    border-top: 1px solid black;
}

.footer-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 30px;
}

.footerhead{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#footerTitle{
    text-decoration: none;
    color: #000000;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 700;
}

#loginLink{
    text-decoration: none;
    color: black;
}

.quick-links{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#linkTitle{
    margin: 0;
    font-size: 1.2rem;
    font-family: inherit;
    font-weight: 600;
}

#quickLinks{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 6px;
}

#quickLinks a{
    text-decoration: none;
    color: black;
}

.footerbottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    padding: 6px 30px 0;
}

.footersocials{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footersocials a{
    text-decoration: none;
    color: black;
}